<!DOCTYPE html>
<html>

<head>
    <title></title>
    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</li>
            {% endif %}
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'home' %}">View Receipts</a>
            </li>
            <li>
                <a href="{% url 'create_receipt' %}">Create Receipt</a>
            </li>
            <li>
                <a href="{% url 'create_category' %}">Create Categories</a>
            </li>
            <li>
                <a href="{% url 'list_categories' %}">View Categories</a>
            </li>
            <li>
                <a href="{% url 'create_account' %}">Create Account</a>
            </li>
            <li>
                <a href="{% url 'account' %}">View Account</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</head>

<body>
    {% block content %}
    {% endblock content %}
</body>

</html>