@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
button,
select,
textarea,
body {
    background-color: bisque;
    border-style: ridge;
    border-width: 5px;
    border-inline-color: black;
    text-indent: 10px;
}

input {
    font-family: 'Roboto';
    font-size: 16px;
}

header nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
}

a,
a:visited {
    text-decoration: none;
    color: #208ACC;
}

button.button {
    background-color: #E012AD;
    border: 2px solid transparent;
    border-radius: 4px;
    color: white;
    padding: 1em 1.5em;
    text-transform: uppercase;
}

button.button:hover {
    background-color: rgb(133, 252, 252);
    border-color: #e09112;
    border-radius: 10px;
    color: #E012AD;
}

button.button:active {
    background-color: lightblue;
}

input,
textarea {
    border: 1px solid #e06412;
    border-radius: 4px;
    border-width: 10px;
    border-style: groove;
    padding: 1em 1.5em;
    background-color: aquamarine;
}

table {
    margin: auto;
}

td,
th {
    padding: .25em .5em;
}

textarea {
    resize: none;
}

.pull-right {
    float: right;
    margin: 1em;
}

.control {
    text-align: right;
}

.delete-form {
    max-width: 600px;
    margin: auto;
    text-align: center;
}